body {
  background-color: #e6e7ed;
  display: flex;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.map-wrapper {
  display: flex;
  flex-direction: column;
}

.current-wrapper {
  height: 0;
  width: 100%;

  position: relative;
  bottom: 15vh;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.current-code {
  margin: auto;
  cursor: pointer;
}

.note {
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}



@media only screen and (max-width: 750px) {
  .App {
    flex-direction: column-reverse;
    height: auto;
  }

  .compare-wrapper {
    width: 100vw;
    height: 100vh;
  }

  .map-wrapper {
    height: 87.4vh;
  }
}
